<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='styles.css'
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="nav__link" href="/">About</a></li>
      </ul>
      <ul>
        <li><a class="nav__link" href="/">Projects</a></li>
      </ul>
      <ul>
        <li><a class="nav__link" href="/">Artwork</a></li>
      </ul>
      <ul>
        <li><a class="nav__link" href="/">Contact</a></li>
      </ul>
    </nav>
    <section id="herocontainer">hello world, placeholder</section>
    <section id="content">
      <section id="about">
        <h2>About Me</h2>
        <hr class="main-break" />
        <article>
          <h3>Hello All,</h3>
          <p>
            I Am a junior web developer and recent graduate of Columbia
            University, where I received an MS in Computer science. While in
            school, I specialized in software systems, taking a variety of
            classes on databases, cloud computing, networks, operating systems,
            and more. I hope to use my background in systems to take an in depth
            and thorough approach to frontend development.
          </p>
          <p>
            I live in NYC, and am currently working as a software consultant at
            <a href="www.google.com" class="secondary-text">Pyyne Digital</a>.
          </p>
          <h3>Some technologies I've been using recently...</h3>
          <ul>
            <p>Languages: Javascript, HTML/CSS, Python, Typescript</p>
            <p>Frameworks And Libraries: React, Tailwind CSS, Jest, Redux</p>
            <p>FPlatforms: Amazon Web Services, Docker, Linux</p>
          </ul>
        </article>
      </section>
      <section id="bigprojects">
        <h2>Projects</h2>
        <hr class="main-break" />
        <article class="bigproject">
          <div class="video">placeholder for video</div>
          <section>
            <h3>Professor Review Site</h3>
            <p>
              Professor and course review site for Columbia university. Users
              can view 1000s of real, scraped reviews and submit their own. Data
              visualized using ChartJS.
            </p>
            <ul>
              <li>React</li>
              <li>Docker</li>
              <li>Node JS</li>
              <li>PostgreSQL</li>
              <li>Beautiful Soup</li>
            </ul>
          </section>
        </article>
      </section>
    </section>
  </body>
</html>
