// colors
$primary: #243b4a;
$primary-lighter: #355364;
$primary-lightest: #e0fbfc;
$secondary: #ffa62b;

// font weights
$bold: 700;
$semi-bold: 600;
$regular: 400;

// font sizes: todo
$larger: 1.875rem;
