// colors
$primary: #243b4a;
$primary-lighter: #355364;
$primary-lightest: #e0fbfc;
$secondary: #ffa62b;

// font weights
$bold: 700;
$semi-bold: 600;
$regular: 400;
$light: 300;

// font sizes: todo
$larger: 1.75rem; // 28px
$large: 1.375rem; // 22px
$regular: 1.125rem; //18px
$small: 1rem; //18px
