@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Merriweather:ital,wght@1,300&family=Nunito:wght@400;600;700&display=swap");
@import "./variables.scss";

body {
  background-color: $primary;
  section {
    margin-bottom: 2rem;
  }
}

// General Element Styling

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", Times, sans-serif;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.btn {
  border: none;
  background-color: white;
}

// Main container for content
#content {
  width: 60%;
  border: 2px solid yellow;
  margin: auto;
}

// Section styling -------------------------->

// Navbar styling
nav {
  background-color: $secondary;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: right;
  padding: 1rem;
  .nav__link {
    color: white;
  }
}

#about {
  article {
    font-size: $large;
    h3 {
      font-weight: $bold;
      font-size: $large;
    }
    p {
      margin-bottom: 1rem;
    }
  }
}

#tech-skills {
  li {
    ul {
      margin-left: 20px;
      li {
        margin-right: 20px;
      }
    }
  }
  color: $secondary;
}

h2 {
  font-family: "Inconsolata";
  background-color: $primary-lighter;
  padding: 0.75rem;
  display: inline-block;
  font-size: $larger;
  font-weight: $regular;
  color: $primary-lightest;
}

.main-break {
  color: $primary-lighter;
  height: 5px;
  background-color: $primary-lighter;
  border: none;
  margin-bottom: 2rem;
}

#herocontainer {
  height: 80vh;
  border: 1px solid red;
}

.big-project__project {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
  .big-project__blurb {
    flex: 1 0 30%;
    position: relative;
    font-size: $small;
    .big-project__description {
      h3 {
        font-family: "Inconsolata";
        font-size: $large;
        margin-bottom: 0.5rem;
        color: $primary-lightest;
      }
      padding: 1.5rem;
      background-color: $primary-lighter;
    }
    ul {
      margin-top: 1rem;
      padding: 0rem 1.5rem 1.5rem 1.5rem; // don't put padding on top, so li margin fills it up
      background-color: $primary-lighter;
      li {
        margin-top: 1rem;
        display: inline-block;
        margin-right: 1rem;
      }
    }
  }
}

.big-project__blurb::after {
  content: " ";
  position: absolute;
  z-index: -1;
  border: 3px solid $primary-lightest;
  width: 100%;
  height: 100%;
  left: 1.3rem;
  bottom: -1.3rem;
}

.secondary-text {
  color: $secondary;
}

.video {
  height: 250px;
  width: 500px;
  border: 2px solid red;
  background-color: black;
}

.skills {
  ul {
    list-style-type: none;
    display: inline-block;
    li {
      display: inline-block;
      color: $secondary;
    }
  }
}

#small-project__all-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  .small-project__project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $primary-lighter;
    padding: 1rem;
    height: 200px;
    h3 {
      font-family: Inconsolata;
      font-size: 24px;
      font-weight: $semi-bold;
    }
    hr {
      height: 3px;
      background-color: $primary-lightest;
      border: none;
    }
    .description {
      font-size: 18px;
    }
    ul {
      // links
      text-align: right;
      li {
        display: inline-block;
      }
      flex-direction: row;
    }
  }
}

#art {
  article {
    padding: 1rem;
    #quote {
      font-family: "Merriweather";
      font-style: italic;
      display: inline-block;
      font-weight: $light;
      width: 95%;
      background-color: $primary-lighter;
      display: relative;
      padding: 2rem;
      font-size: 30px;
      box-shadow: 20px 20px 1px 1px $primary-lightest;
      margin-bottom: 2rem;
    }
    p {
      font-size: $large;
      margin-bottom: 1rem;
    }
  }
}
