@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Merriweather:ital,wght@1,300&family=Nunito:wght@400;600;700&display=swap");

// colors
$primary: #243b4a;
$primary-lighter: #355364;
$primary-lightest: #355364;
$secondary: #ffa62b;

// font weights
$bold: 700;
$semi-bold: 600;
$regular: 400;

// font sizes: todo
$larger: 1.875rem;

body {
  background-color: $primary;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", Times, sans-serif;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

nav {
  background-color: $secondary;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: right;
  padding: 1rem;
}

h2 {
  font-family: "Inconsolata";
  background-color: $primary-lighter;
  padding: 0.5rem;
  padding: 1rem;
  display: inline-block;
  font-size: $larger;
}

#content {
  width: 50%;
  border: 2px solid yellow;
  margin: auto;
}

.main-break {
  color: $primary-lighter;
  height: 5px;
  background-color: $primary-lighter;
  border: none;
}

.nav__link {
  color: white;
}

.navbar {
  background-color: $secondary;
  display: flex;
}

#herocontainer {
  height: 80vh;
  border: 1px solid red;
}

#about {
  article {
    font-size: 1.5rem;
    h3 {
      font-weight: $bold;
      font-size: 1.5rem;
    }
  }
}

.bigproject {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  section {
    border: 3px solid orange;
    flex: 0 0 30%;
  }
}

.secondary-text {
  color: $secondary;
}

.video {
  height: 300px;
  border: 2px solid red;
  flex: 0 0 70%;
  background-color: black;
}
