@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Merriweather:ital,wght@0,400;0,700;1,300&family=Nunito:wght@400;600;700&display=swap");
.font-body {
  font-size: 22px;
}

.font-subtitle {
  font-size: 22px;
}

.font-small-body {
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #243b4a;
  font-family: nunito;
  color: white;
}
body section {
  margin-bottom: 4rem;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:focus,
a:active {
  text-decoration: none;
  color: white;
}

.white-link:hover {
  color: white;
  transition: color;
  transition-duration: 0.3s;
}

#profile_pic_container {
  width: 50%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#profile_pic_container div {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: #e0fbfc;
  opacity: 20%;
}
#profile_pic_container img {
  width: 100%;
  object-fit: cover;
}

#content {
  max-width: 950px;
  margin: auto;
  min-width: 800px;
}

.link-button {
  margin-right: 0.7rem;
  font-size: 18px;
  padding: 1rem 1.5rem;
  background-color: #355364;
  border: none;
  color: #e0fbfc;
}

.link-button:hover {
  background-color: #18242c;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.hero-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: #e0fbfc;
}

nav {
  width: 100%;
  background-color: #ffb347;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4%;
}
nav svg {
  height: 30px;
}
nav svg:hover rect {
  fill: #142735;
  transition-duration: 2s;
  transition-property: fill;
}
nav svg:hover path {
  fill: white;
  transition-duration: 1s;
  transition-property: fill;
}
nav ul {
  display: inline-block;
}
nav ul li {
  display: inline-block;
}
nav .nav__link {
  color: #142735;
  font-size: 1.125rem;
  margin-right: 2rem;
  font-weight: 600;
}
nav .nav__link:hover {
  text-decoration: underline;
}

#about article {
  padding: 0rem 1rem;
}
#about article h3 {
  font-weight: 700;
  margin-bottom: 0.2rem;
}
#about article p {
  margin-bottom: 1rem;
}

#tech-skills li {
  margin-left: 0.5rem;
}
#tech-skills li ul {
  margin-left: 10px;
  color: #ffb347;
  margin-bottom: 0.5rem;
  display: inline-block;
}
#tech-skills li li {
  display: inline-block;
  margin-right: 10px;
}

h2 {
  font-family: "Inconsolata";
  background-color: #355364;
  padding: 0.75rem;
  display: inline-block;
  font-size: 1.75rem;
  font-weight: 1.125rem;
  color: #e0fbfc;
}

.main-break {
  color: #355364;
  height: 5px;
  background-color: #355364;
  border: none;
  margin-bottom: 2rem;
}

#herocontainer {
  padding: 0rem 5%;
  height: 75vh;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}
#herocontainer #graph {
  flex: 0 0 25%;
}

#hero-intro {
  flex-shrink: 1;
  flex-grow: 1;
  padding-right: 1rem;
  color: #e0fbfc;
}
#hero-intro h1 {
  font-size: 38px;
  font-family: "inconsolata";
}
#hero-intro hr {
  fill: #e0fbfc;
  background-color: #e0fbfc;
  fill: #e0fbfc;
  height: 2px;
  background-color: none;
  width: 300px;
  margin: 0.2rem 0rem;
  border: none;
}
#hero-intro p {
  margin: 1rem 0rem;
}
#hero-intro ul {
  display: flex;
}
#hero-intro ul li:hover {
  cursor: pointer;
}
#hero-intro ul li {
  font-weight: 700;
  font-size: 1rem;
}
#hero-intro ul li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #e0fbfc;
  margin: 0px 18px;
}

@media only screen and (max-width: 800px) {
  #herocontainer {
    flex-direction: column;
    justify-content: center;
    /*
    #graph {
      margin-top: 2rem;
    }
    */
    margin-bottom: 0px;
  }
  #profile_pic_container {
    width: 30%;
  }
  #hero-intro {
    padding: 0rem 10%;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 1;
  }
  #hero-intro hr {
    display: block;
    margin: auto;
    width: 200px;
    margin: 0.2rem auto;
  }
  #hero-intro ul {
    padding: 0rem 1rem;
    text-align: center;
    display: inline-block;
  }
  #hero-intro ul li {
    display: inline-block;
  }
}
.big-project__project {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
}
.big-project__project .big-project__blurb {
  flex: 1 0 30%;
  position: relative;
}
.big-project__project .big-project__blurb .big-project__description {
  padding: 1.5rem;
  background-color: #355364;
}
.big-project__project .big-project__blurb .big-project__description h3 {
  font-family: "Inconsolata";
  margin-bottom: 0.75rem;
  color: #e0fbfc;
}

.big-project__links {
  margin-top: 1rem;
  padding: 2% 5% 3% 5%;
  background-color: #355364;
  font-weight: 600;
}
.big-project__links li {
  margin-top: 0.5rem;
  display: inline-block;
  margin-right: 6%;
}

.big-project__blurb::after {
  content: " ";
  position: absolute;
  z-index: -1;
  border: 3px solid #e0fbfc;
  width: 100%;
  height: 100%;
  left: 1.3rem;
  bottom: -1.3rem;
}

.secondary-text {
  color: #ffb347;
}

.screenshot {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 0.5rem;
}
.screenshot .links a {
  display: inline-block;
  margin-right: 1rem;
  font-family: "Inconsolata";
  font-weight: 600;
}
.screenshot .screenshot-overlay-container {
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 500px;
}
.screenshot .screenshot-overlay-container img:hover {
  box-shadow: 5px 5px 5px #232f3a;
}

.screenshot-img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
}

.img-container {
  text-align: center;
}

#celtic {
  width: 200px;
}

#small-project h3 {
  margin-bottom: 1rem;
}

#small-project__all-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
#small-project__all-projects .small-project__project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #355364;
  padding: 1.5rem;
}
#small-project__all-projects .small-project__project h3 {
  font-family: Inconsolata;
  font-weight: 600;
  color: #e0fbfc;
}
#small-project__all-projects .small-project__project hr {
  height: 2px;
  background-color: #e0fbfc;
  border: none;
  margin: 0.5rem 0rem;
}
#small-project__all-projects .small-project__project .description {
  font-size: 1.125rem;
}
#small-project__all-projects .small-project__project ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2rem;
  text-align: right;
  flex-direction: row;
}
#small-project__all-projects .small-project__project ul li {
  display: inline-block;
  font-size: 1.375rem;
  font-family: "Inconsolata";
  font-weight: 600;
  margin-left: 1.5rem;
  color: #142735;
}

#art article {
  padding: 1rem;
}
#art article #quote:hover {
  box-shadow: 20px 20px 1px 1px #18242c;
  transition: box-shadow;
  transition-duration: 2s;
  transition-timing-function: linear;
}
#art article p {
  margin-bottom: 1rem;
}

#quote {
  font-family: "Merriweather";
  font-style: italic;
  display: inline-block;
  font-weight: 300;
  width: 95%;
  background-color: #355364;
  display: relative;
  padding: 5%;
  font-size: 30px;
  box-shadow: 20px 20px 1px 1px #e0fbfc;
  margin-bottom: 4rem;
}

#art-project svg {
  width: 100%;
}
#art-project .art-project__project {
  background-color: #243b4a;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
#art-project .art-project__project .art__pic {
  width: 600px;
  height: 300px;
  background-color: darkgray;
}
#art-project .art-project__project .art__blurb {
  background-color: #355364;
  position: absolute;
  right: 5rem;
  bottom: 2rem;
  width: 40%;
  box-shadow: 1rem 1rem 1px 1px #e52381;
  font-family: "Merriweather";
}
#art-project .art-project__project .art__blurb h3 {
  font-size: 1.375rem;
  margin-bottom: 0.5rem;
}
#art-project .art-project__project .art__blurb p {
  font-size: 1.125rem;
}

#contact {
  text-align: center;
  padding: 5rem;
}
#contact h3 {
  font-size: 1.75rem;
  font-family: "Inconsolata";
  margin-bottom: 2rem;
}

#hero-link-github {
  animation: comeDown1 0.5s ease-out forwards;
}

#hero-link-linkedin {
  animation: comeDown1 1s ease-out forwards;
}

#hero-link-resume {
  animation: comeDown1 1.5s ease-out forwards;
}

@keyframes comeDown1 {
  0% {
    transform: translateY(-60%);
    opacity: 0;
  }
  60% {
    transform: translateY(-60%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes comeDown2 {
  0% {
    transform: translateY(-60%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes comeDown3 {
  0% {
    transform: translateY(-60%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
/* Mid sized breakpoints */
@media only screen and (max-width: 1000px) {
  #tech-skills li ul {
    display: block;
  }
  h2 {
    font-size: 22px;
  }
  .screenshot {
    margin: auto;
  }
  .screenshot-img {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .screenshot-img .links a {
    display: inline-block;
    margin-top: 1rem;
  }
  .big-project {
    text-align: center;
  }
  #content {
    min-width: 100px;
    width: 90%;
  }
  #quote {
    font-size: 24px;
  }
  .big-project__project {
    flex-direction: column;
    margin-bottom: 4rem;
  }
  .big-project__blurb::after {
    left: 1.3rem;
    bottom: -1.3rem;
  }
  .big-project__blurb {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 0rem;
    align-items: flex-start;
    gap: 1rem;
    padding: 0px;
  }
  .big-project__blurb .big-project__description {
    margin: 0px;
    padding: 0px;
  }
  .big-project__blurb .big-project__links {
    margin-top: 0px;
  }
  #small-project__all-projects {
    grid-template-columns: 1fr 1fr;
  }
  #herocontainer {
    padding: 0rem 1rem;
  }
  #herocontainer #hero-intro h1 {
    font-size: 32px;
  }
  #herocontainer #hero-intro p {
    font-size: 20px;
  }
  #herocontainer #graph {
    flex-shrink: 0;
    flex-basis: 200px;
  }
}
/* tablet breakpoints */
@media only screen and (max-width: 700px) {
  #profile_pic_container {
    width: 30%;
  }
  #tech-skills li ul {
    display: block;
  }
  #quote {
    font-size: 20px;
  }
  .bulletpoint {
    display: none;
  }
  #contact h3 {
    font-size: 20px;
  }
  .font-small-body {
    font-size: 18px;
  }
  .font-body {
    font-size: 18px;
  }
  .font-subtitle {
    font-size: 20px;
  }
  nav #nav-links {
    display: none;
  }
  .screenshot {
    flex-direction: column;
    width: 100%;
  }
  .screenshot .screenshot-overlay-container {
    width: 100%;
    height: auto;
  }
  .screenshot .screenshot-overlay-container img {
    width: 100%;
  }
  .screenshot .links {
    text-align: left;
  }
  .big-project__blurb {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .big-project__blurb .big-project__description {
    margin: 0px;
    padding: 0px;
  }
  #small-project__all-projects {
    grid-template-columns: 1fr;
  }
  #hero-intro ul {
    display: inline-block;
  }
  #hero-intro ul li {
    margin-bottom: 1rem;
    display: inline-block;
  }
}
@media only screen and (max-width: 500px) {
  #profile_pic_container {
    width: 40%;
  }
  .font-subtitle {
    font-size: 20px;
  }
  .font-small-body {
    font-size: 16px;
  }
  #hero-blurb {
    font-size: 16px !important;
  }
  #tech-skills li {
    margin-bottom: 5px;
  }
  #tech-skills li ul {
    margin-left: 20px;
  }
  #tech-skills li li {
    display: inline-block;
    margin-right: 5px;
  }
  .main-break {
    margin-bottom: 1rem;
  }
  #content {
    width: 95%;
  }
  #herocontainer {
    align-items: center;
    gap: 1rem;
    height: 75vh;
  }
  #quote {
    font-size: 16px;
  }
  #hero-intro {
    padding: 2%;
  }
  .link-button {
    padding: 0.8rem 1rem;
    font-size: 14px;
  }
  .screenshot {
    width: 100%;
    align-items: stretch;
  }
  .screenshot .links a {
    font-size: 16px;
  }
  .big-project__project {
    padding: 0px;
  }
  .big-project__blurb::after {
    display: none;
  }
  #small-project h3 {
    font-weight: 1.125rem;
    font-size: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
