@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Merriweather:ital,wght@0,400;0,700;1,300&family=Nunito:wght@400;600;700&display=swap");
@import "./variables.scss";

html {
  scroll-behavior: smooth;
}
body {
  background-color: $primary;
  section {
    margin-bottom: 2rem;
  }
}

// General Element Styling

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: nunito;
  color: white;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:focus,
a:active {
  text-decoration: none;
  color: white;
}

.white-link:hover {
  color: white;
  transition: color;
  transition-duration: 0.3s;
}

// Main container for content
// 63% for width
#content {
  max-width: 950px;
  margin: auto;
  min-width: 800px;
}

.link-button {
  margin-right: 0.7rem;
  font-size: 18px;
  padding: 1rem 1.5rem;
  background-color: $primary-lighter;
  border: none;
  color: $primary-lightest;
}
.link-button:hover {
  background-color: #18242c;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

// Section styling -------------------------->

#tree {
  width: 600px;
}

// Navbar styling
nav {
  svg {
    height: 40px;
    border: 1px solid red;
  }
  svg:hover {
    svg {
      width: 200px;
    }
    rect {
      width: 200;
    }
  }
  background-color: $secondary;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: right;
  padding: 0.5rem 4rem;
  .nav__link {
    color: $primary-dark;
    font-size: $regular;
    margin-right: 2rem;
    font-weight: $semi-bold;
  }
  .nav__link:hover {
    text-decoration: underline;
  }
}

#about {
  article {
    padding: 0rem 1rem;
    font-size: $large;
    h3 {
      font-weight: $bold;
      font-size: $large;
      margin-bottom: 0.2rem;
    }
    p {
      margin-bottom: 1rem;
    }
  }
}

#tech-skills {
  li {
    ul {
      margin-left: 20px;
      color: $secondary;
    }
    li {
      margin-right: 20px;
    }
  }
}

h2 {
  font-family: "Inconsolata";
  background-color: $primary-lighter;
  padding: 0.75rem;
  display: inline-block;
  font-size: $larger;
  font-weight: $regular;
  color: $primary-lightest;
}

.main-break {
  color: $primary-lighter;
  height: 5px;
  background-color: $primary-lighter;
  border: none;
  margin-bottom: 2rem;
}

#herocontainer {
  height: 80vh;
  display: flex;
  padding: 0px 5%;
  gap: 5%;
  #graph {
    flex: 0 0 37%;
  }
}

@media only screen and (max-width: 1200px) {
  #graph {
    flex-basis: 45% !important;
  }
}

@media only screen and (max-width: 1000px) {
  #graph {
    flex-basis: 40% !important;
  }
}

@media only screen and (max-width: 850px) {
  #herocontainer {
    border: 7px solid yellow !important;
    flex-direction: column !important;
    gap: 1%;
    height: 100vh;
  }
  #graph {
    flex-basis: 50% !important;
  }
}

#hero-intro {
  flex-shrink: 1;
  flex-grow: 1;
  // padding: 5rem 3rem;
  color: $primary-lightest;
  padding: 7%;
  h1 {
    font-size: 2.5rem;
    font-family: "inconsolata";
  }
  hr {
    fill: $primary-lightest;
    background-color: $primary-lightest;
    height: 3px;
    background-color: none;
    display: inline-block;
    width: 250px;
  }
  p {
    font-size: 20px;
    margin: 1rem 0rem;
  }
  ul {
    display: flex;
    li {
    }
    li:hover {
      cursor: pointer;
    }
  }
}

#graph {
  margin: auto;
  margin-top: 3rem;
  // width: 40%;
  flex-basis: 40%;
}

.big-project__project {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
  .big-project__blurb {
    flex: 1 0 30%;
    position: relative;
    font-size: $regular;
    .big-project__description {
      h3 {
        font-family: "Inconsolata";
        font-size: $large;
        margin-bottom: 0.75rem;
        color: $primary-lightest;
      }
      padding: 1.5rem;
      background-color: $primary-lighter;
    }
    // links
    ul {
      margin-top: 1rem;
      padding: 0.5rem 1.5rem 1.5rem 1.5rem; // don't put padding on top, so li margin fills it up
      background-color: $primary-lighter;
      font-weight: $semi-bold;
      color: green;
      li {
        margin-top: 0.5rem;
        display: inline-block;
        margin-right: 1.75rem;
      }
    }
  }
}

.big-project__blurb::after {
  content: " ";
  position: absolute;
  z-index: -1;
  border: 3px solid $primary-lightest;
  width: 100%;
  height: 100%;
  left: 1.3rem;
  bottom: -1.3rem;
}

.secondary-text {
  color: $secondary;
}

.video {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 0.5rem;
  .links {
    a {
      display: inline-block;
      margin-right: 1rem;
      font-family: "Inconsolata";
      font-size: $large;
      font-weight: $semi-bold;
    }
  }
}

video {
  width: 500px;
  cursor: pointer;
}

video:hover {
  box-shadow: 5px 5px 5px #18242c;
}

/*
video {
  width: 1000px;
}
*/

.img-container {
  text-align: center;
}

#celtic {
  width: 200px;
}

.skills {
  ul {
    list-style-type: none;
    display: inline-block;
    li {
      display: inline-block;
      color: $secondary;
    }
  }
}

#small-project {
  h3 {
    margin-bottom: 1rem;
  }
}

#small-project__all-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  .small-project__project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $primary-lighter;
    padding: 1.5rem;
    h3 {
      font-family: Inconsolata;
      font-size: 24px;
      font-weight: $semi-bold;
      color: $primary-lightest;
    }
    hr {
      height: 2px;
      background-color: $primary-lightest;
      border: none;
      margin: 0.5rem 0rem;
    }
    .description {
      font-size: $regular;
    }
    ul {
      margin-top: 2rem;
      // links
      text-align: right;
      li {
        display: inline-block;
        font-size: $large;
        font-family: "Inconsolata";
        font-weight: $semi-bold;
        margin-left: 1rem;
        color: $primary-dark;
      }
      flex-direction: row;
    }
  }
}

#art {
  article {
    padding: 1rem;
    #quote {
      font-family: "Merriweather";
      font-style: italic;
      display: inline-block;
      font-weight: $light;
      width: 95%;
      background-color: $primary-lighter;
      display: relative;
      padding: 2rem;
      font-size: 30px;
      box-shadow: 20px 20px 1px 1px $primary-lightest;
      margin-bottom: 4rem;
    }
    #quote:hover {
      box-shadow: 20px 20px 1px 1px #18242c;
      // transform: translate(-10px, -10px);
      transition: box-shadow;
      transition-duration: 2s;
      transition-timing-function: linear;
    }
    p {
      font-size: $large;
      margin-bottom: 1rem;
    }
  }
}

#art-project {
  .art-project__project {
    background-color: $primary;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    .art__pic {
      width: 600px;
      height: 300px;
      background-color: darkgray;
    }
    .art__blurb {
      background-color: $primary-lighter;
      position: absolute;
      right: 5rem;
      bottom: 2rem;
      width: 40%;
      box-shadow: 1rem 1rem 1px 1px $ternary;
      font-family: "Merriweather";
      h3 {
        font-size: $large;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: $regular;
      }
    }
  }
}

.btn-outline {
  border: 2px solid $primary-lightest;
  background-color: transparent;
  color: $primary-lightest;
}

.btn-large {
  font-size: $large;
  padding: 0.75rem;
  border-radius: 3px;
}

#contact {
  h3 {
    font-size: $larger;
    font-family: "Inconsolata";
    margin-bottom: 2rem;
  }
  text-align: center;
  padding: 5rem;
}

/* Mid sized breakpoints */
@media only screen and (max-width: 1000px) {
  .video {
    border: 2px solid yellow;
    width: 70%;
    margin: auto;
    video {
      margin: auto;
      width: 100%;
    }
    .links {
      a {
        display: inline-block;
        margin-top: 1rem;
      }
    }
  }
  .big-project {
    text-align: center;
  }
  #content {
    border: 3px solid red;
    min-width: 100px;
    width: 90%;
  }
  .big-project__project {
    flex-direction: column;
    margin-bottom: 4rem;
  }
  /* same as before media query. change?? */
  .big-project__blurb::after {
    left: 1.3rem;
    bottom: -1.3rem;
  }
  .big-project__blurb {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 0rem;
    align-items: flex-start;
    gap: 1rem;
    padding: 0px;
    .big-project__description {
      margin: 0px;
      padding: 0px;
    }
    .big-project__links {
      margin-top: 0px !important;
    }
  }
  #small-project__all-projects {
    grid-template-columns: 1fr 1fr;
  }
}

/* tablet breakpoints */
@media only screen and (max-width: 700px) {
  .video {
    border: 5px solid green;
    flex-direction: column;
    width: 100%;
    video {
      width: 100%;
    }
    .links {
      text-align: left;
    }
  }
  .big-project__blurb {
    width: 100%;
    display: flex;
    flex-direction: column;
    .big-project__description {
      margin: 0px;
      padding: 0px;
    }
    .big-project__links {
      margin-top: 0px !important;
    }
  }
  #small-project__all-projects {
    grid-template-columns: 1fr;
  }
}
